button {
    margin: 10px;
}

div.dialog_div {
    background-color: rgb(3, 193, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(3, 193, 213);
}

header {
    display: flex;
    justify-content: center;
    color: rgb(3, 193, 213);
}

input {
    margin: 10px;
}

:modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

nav {

}

nav img {
    
}

nav p {
    
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 10px;
    padding: 20px;
}

.user_error {
    color: red;
}

.user_success {
    color: green;
}