/* TODO: Organize property names alphabetically within each {}. */

a {
    text-decoration: none;
    color: rgb(3, 193, 213);
    font-weight: bold;
    font-family: 'Atomic Age';
}

body {
    background-image: url("/static/images/indexbackground1.jpg");
}

div {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(3, 193, 213);
}

form {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

input {
    margin: 10px;
    font-family: 'Atomic Age'
}

.login_page_main {
    margin-top: 50px;
}

.login_page_main img {
    margin: 20px;
    border: 5px solid black;
}

.login_page_main form input {
    border: 5px solid black;
    padding: 5px;
}

button {
    border-radius: 25px;
    border: 5px solid black;
    padding: 5px;
    color: rgb(3, 193, 213);
    background-color: white;
    font-size: 14px;
    font-family: 'Atomic Age';
    width: 90%;
    height: auto;
    margin: 10px;
}

/* For divs within achors (makes hyperlinks look like buttons). */
.button_bubble {
    border: 5px solid black;
    border-radius: 25px;
    background-color: white;
    margin: 10px;
    font-size: 14px;
    padding: 5px;
}

.button_bubble p {
    margin: 0px;
    color: rgb(3, 193, 213);
}

:modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

p {
    color: black;
    font-family: 'Atomic Age';
}


table {
    border-collapse: collapse; 
    margin: 10px auto;
    width: auto;
    height: auto;
    margin-top: 60px;
    background-color: none;
}

.table_title {
    text-align: center;
    font-size: 30px;
}

.table_row:hover {
    background-color: rgb(248, 187, 8);  
}

tr[data-loginId] {
    /* TODO: Change this cursor to the lens of truth */
    cursor: pointer;
}

th, td {
    /* TODO: set border to same color as background image */
    width: 160px;
    margin: 20px;
    padding: 20px;
    text-align: left;
    border: 2px solid lightgrey;
    background-color: rgba(3, 193, 213, 0.75);
    color: white;
}

.user_error {
    color: red;
}

.user_success {
    color: green;
}