{% extends "layout.html" %}

{% block title %} Home {% endblock %}


{% block main %}

    <form id="login_manager" action="/" method="post">
        <input id="login_manager_inputs" name="user_input" value="" type="hidden">
        <!-- TODO: Add login search bar -->

        <table>
            <tr>
                <th class="table_title" colspan="4"> Sheikah Lock </th>
            </tr>
            <tr>
                <th>Service</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            {% for row in user_logins %}
            <tr data-loginid="{{ row['id'] }}" class="table_row">
                <td> {{ row['service_name'] }} </td>
                <td> XXXX </td>
                <td> XXXX </td>
                <td> XXXX </td>
            </tr>
            {% endfor %} 
        </table>
    </form>

    <!-- TODO: For remove login button, add right click feature to each row. -->
    <button id="add_login_button" type="button" style="width: 30%;"> Add Login </button>

    <!-- TODO: Add floating user icon which contains logout button as well as account settings like change password -->
    <a href="{{ url_for('logout') }}" style="margin-top: 40px;"> 
        <div class="button_bubble">
            <p> Logout </p>
        </div>
    </a>

    <dialog id="add_login_form">
        <div>
            <h3>Add Login</h3>
            <!-- FUTURE FEATURES TODO LIST BELOW - DONT UPLOAD THIS WITH CS50 SBMISSION -->
            <!-- TODO: add a plus button below the table for adding new rows/opening this form. -->
            <!-- TODO: add a red trashcan button next to rows to delete. Make the select option appearable with a bulk delete button. -->
            <!-- TODO: Allow user to upload bulk logins. -->
            <form action="/new_login" method="post">
                <input type="text" name="service" placeholder="Service" required autocomplete="off">
                <input type="text" name="username" placeholder="Username" autocomplete="off">
                <input type="email" name="email" placeholder="Email" autocomplete="off">
                <input type="password" name="password" placeholder="Password" required autocomplete="off">
                <button type="submit">Add</button>
            </form>
            <button id="close_login_form">Close</button>
        </div>
    </dialog>

{% endblock %}


{% block scripts %}

    <script>

        // If there is a user message display it. 
        let modal = (document.getElementById("user_messages") == null) ? null : document.getElementById("user_messages");
        if (modal != null) {
            modal.showModal();

            setTimeout(() => {
                modal.close()
            }, 3000);
        }

        // Reveal login when user clicks on a row.
        let rows = document.querySelectorAll(".table_row");
        
        for (let i = 0; i < rows.length; i++) {
            console.log(i);
            rows[i].addEventListener("click", () => {
                console.log(rows[i].dataset.loginid);
                document.getElementById("login_manager_inputs").value = rows[i].dataset.loginid;
                console.log(document.getElementById("login_manager_inputs").value)
                document.getElementById("login_manager").submit();
            });
        }

            // Right click on row logic. On right click show edit button, when clicked
            // display the row revealed in a modal. This info will be contained in a form.
            // When submitted redisplay index.html with the row updated. Also in the modal have
            // a red trash can button to delete the row.

                // Similiar to above add the 'contentmenu' event listener. 
                // So: On right click () => 
                    // prevent default event
                    // (Make a dialog for this) Get a dialog and openmodal(). It will say "edit".
                    // If the user clicks outside of the dialog 
                        // Close it
                    // Else if edit is clicked
                        // (Make a dialog for this) Get a different dialog made according to above instructions.
                        // If user clicks close or the x button
                            // close modal
                        // else if user clicks red trash can
                            // run route which removes login from logins table and return index.
                        // else if user submits form 
                            // run a route called alter login which updates this login and returns index.

        // Handles the add login button for adding new logins to the manager. Shows the add login dialog form.
        document.getElementById("add_login_button").addEventListener("click", () => {
            document.getElementById("add_login_form").showModal();
        });

        // Handles the button for closing the add login dialog form.
        document.getElementById("close_login_form").addEventListener("click", () => {
            document.getElementById("add_login_form").close();
        });

    </script>

{% endblock %}