<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Meta Data -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        
        <!-- My Stylesheet -->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        
        <!-- Favicon -->
        <link href="{{ url_for('static', filename='images/sheikah_eye.png') }}" rel="icon" type="image/png" sizes="32x32">

        <!-- Page Title -->
        <title>Sheikah Lock {% block title %}{% endblock %}</title>
    </head>

    <body>
        <!-- TODO: Add navigation menu. Use jinja if else statment. If session["user_id"] is none return -->
        <!-- navigation menu with just login and register, else all pages on site. -->
        <header>
            <nav>
                <img src="{{ url_for('static', filename='images/sheikah_eye_full.png') }}" style="width: 100px; height: auto;">
                <p>test</p>          
            </nav>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>
        
        <footer>
            <nav>
                <p>test</p>
            </nav>
        </footer>
    </body>

    {% block scripts %}{% endblock %}
</html>