<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Meta Data -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        
        <!-- My Stylesheet -->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        
        <!-- Favicon -->
        <link href="{{ url_for('static', filename='images/sheikah_eye.png') }}" rel="icon" type="image/png" sizes="32x32">

        <!-- Page Title -->
        <title>Sheikah Lock {% block title %}{% endblock %}</title>
    </head>
    
    <body>
        <header></header>
        
        <main>   
            <!-- If there are messages for the user display them. -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <dialog id="user_messages">
                    <div id="user_message_div" class="dialog_div">
                        <ul>
                            {% for category, message in messages %}
                                <li class="{{ category }}"> {{ message }} </li>
                            {% endfor %}
                        </ul>
                    </div>
                </dialog>
                {% endif %}
            {% endwith %}

            {% block main %}{% endblock %}
        </main>
        

        <footer>
            <nav>
                <a href="{{ url_for('logout') }}"> Logout </a>
            </nav>
        </footer>
    </body>

    {% block scripts %}

    {% endblock %}
</html>